.App {
  text-align: center;
}

.App-header {
  background-color: #f2dcc9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background-color: #f2dcc9;
  height: 100%;
  font-size: calc(10px + 2vmin);
}

.messageHolder {
  display: flex;
  height: 100%;
  flex-direction: column;
  max-height: 800px;
  overflow-y: auto;
}

.inputFieldsHolder {
  display: flex;
  height: 15vw;
  justify-content: space-between;
  width: 45%;
}

.inputsHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatInputBox {
  margin: 5px;
  display: flex;
  align-items: center;
  width: 100%;
}

.chatInput {
  padding: 10px;
  border-radius: 23px;
  border: none;
  height: 60%;
  width: 80%;
}

.sendButton {
  height: 45px;
  border: none;
  background-color: transparent;
  width: 80px;
  display: flex;
}

.sendIcon {
  height: 100%;
}

.chatMessageHolder {
  display: flex;
  align-items: center;
}

.chatItem {
  width: 30%;
  background-color: #f2b544;
  margin: 30px 5px;
  border-radius: 23px;
  color: #736055;
  font-weight: 100;
  text-transform: capitalize;
}

.left {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.right {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 23px;
  margin: 10px;
}
